body{
  margin: 0;
  background: #b7dce8;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

/* Big centered title */
h1{
  text-align: center;
  font-size: 64px;
  margin: 40px 0 20px;
  font-weight: 800;
}

/* Section headers */
h2{
  font-size: 32px;
  margin: 30px 0 10px;
  font-weight: 800;
}

/* Default paragraph */
p{
  font-size: 14px;
  line-height: 1.35;
  margin: 10px 0;
}

/* SECOND PARAGRAPH BOX */
p:nth-of-type(2){
  width: 78%;
  margin: 18px auto;
  padding: 18px 16px;
  border: 3px solid #0a6a0a;
  background: #ffffff;
  line-height: 1.8;
}

/* FOURTH PARAGRAPH DARK BLUE */
p:nth-of-type(4){
  background: #001a7a;
  color: #fff;
  padding: 12px 14px;
  border: 3px solid #00124d;
}

/* FIFTH PARAGRAPH DARK BLUE */
p:nth-of-type(5){
  background: #001a7a;
  color: #fff;
  padding: 12px 14px;
  border: 3px solid #00124d;
}

/* Links */
a{
  color: #1a33cc;
}

a:visited{
  color: #551a8b;
}

/* w3schools link */
a[href*="w3schools"]{
  color: #b00000;
}

a[href*="w3schools"]:visited{
  color: #7a0000;
}

/* Ordered list */
ol{
  list-style-type: decimal-leading-zero;
  padding-left: 30px;
  margin-top: 10px;
}

/* Table */
table{
  width: 520px;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td{
  border: 2px solid #4a4a4a;
  padding: 6px 10px;
  font-size: 12px;
}

th{
  background: #cfcfcf;
  text-align: left;
  font-weight: 700;
}

td{
  background: #e9e9e9;
}
